/* ELEMENTS */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
}

:root {
    --color-green: #38AF90;
    --color-light-gray: #F0F0F0;
    --color-light-pink: #DD7E92;
    --color-gray: #797979;
    --color-dark-gray: #383838;
    --color-white: #FFFFFF;
}

a, a:hover {
    text-decoration: none;
    color: unset;
    list-style-type: none;
}

header {
    background-color: var(--color-green);
    color: var(--color-white);
    display: flex;
    align-items: center;
    height: 90px;
    width: 100%;
    position: fixed;
  }

nav {
    justify-content: space-between;
    display: flex;
    align-items: center;
  }
  
nav a {
    font-size: 14px;
    font-weight: 500px;
    margin-left: 30px;
  }
  
nav h1 {
    font-size: 24px;
    font-weight: 700;
  }

hr {
      border: 1px solid var(--color-green);
  }

span {
    color: var(--color-green);
    font-size: 14px;
    font-weight: 700;
}

footer {
    background-color: var(--color-dark-gray);
    color: var(--color-light-gray);
    height: 190px;
    width: 100%;
    padding: 74px 105px 74px 105px;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}

/* Class e IDs */

.area-nav {
    display: flex;
    align-items: center;
  }
  
.area-nav img {
    height: 62px;
    width: 62px;
    margin-left: 30px;
  }
  
.container-nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 990px;
    margin: 0 auto;
  }

.container-news {
    background-color: var(--color-white);
    color: var(--color-gray);
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.area-news {
      background-color: var(--color-light-gray);
      margin-bottom: 40px;
      border-radius: 8px;
      max-width: 990px;
      width: 100%;
      max-height: 247px;
      display: block;
      align-items: center;
      padding: 16px 40px 40px 40px;
  }

.container-news h1 {
      margin: 40px 0 40px 0;
      font-size: 36px;
      margin-top: 130px;
  }

.area-news p {
      font-size: 10px;
  }

.area-news h2 {
    font-size: 24px;
    color: var(--color-green);
}

.area-news h4 {
    font-size: 16px;
}

.area-news a {
    color: var(--color-light-pink);
    font-size: 14px;
    font-weight: 700;
}

.date {
    color: var(--color-green);
    margin-bottom: 16px;
}

.botton-load-more {
    background-color: var(--color-light-pink);
    color: var(--color-white);
    width: 244px;
    height: 67px;
    border-radius: 8px;
    cursor: pointer;
    padding: 20px 55px 20px 55px;
    text-align: center;
    margin-bottom: 55px;
}

.container-games {
    background-color: var(--color-light-gray);
    width: 100%;
    height: 559px;
}

.title-games h1 {
    background-color: var(--color-light-gray);
    color: var(--color-green);
    font-size: 36px;
    text-align: center;
    padding: 36px 0 73px 0;
}

.container-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.area-games {
    display: flex;
    background-color: var(--color-white);
    max-width: 300px;
    width: 100%;
    height: 326px;
    color: var(--color-gray);
    cursor: pointer;
    margin-left: 30px;
    flex-direction: column;
    align-items: center;
    border-radius: 0 0 8px 8px;
}

.area-games p {
    font-size: 12px;
}

.area-games img {
    height: 168px;
    border-radius: 8px 8px 0 0;
}


.area-games h4 {
    font-size: 18px;
    font-weight: 700;
    margin-top: 27px;
}

.area-games h2 {
    color: var(--color-green);
    padding: 13px 0px 15px 0px;
}

.form-section {
    background-color: var(--color-white);
    color: var(--color-gray);
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 716px;
}

.container-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 790px;
    width: 100%;
    height: 522px;
}

.form-descripition {
    background-color: var(--color-light-gray);
    border-radius: 8px;
    width: 100%;
    height: 522px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.title-form h1 {
    font-weight: 700;
    font-size: 36px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.ds-form-group-one {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.ds-form-group-two {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.ds-form-group-one input {
    width: 642px;
    max-width: 642px;
    height: 50px;
    border-radius: 4px;
    font-size: 16px;
    margin: 50px 75px 10px 75px;
    border: 1px solid var(--color-gray);
}

.ds-form-group-two input {
    max-width: 642px;
    width: 100%;
    height: 50px;
    border-radius: 4px;
    font-size: 16px;
    margin: 10px 0 20px 0;
    border: 1px solid var(--color-gray);
}

.ds-form-group-one input::placeholder {
    color: #C4C4C4;
    font-size: 16px;
    padding: 13px 0px 13px 22px;
}

.ds-form-group-two input::placeholder {
    color: #C4C4C4;
    font-size: 16px;
    padding: 13px 0px 13px 22px;
}

.form-radios {
    color: var(--color-gray);
    display: flex;
    flex-direction: column;
    font-size: 16px;
    margin-left: 72px;
}

.inputs-plataform {
    justify-content: flex-start;
    display: flex;
}

.inputs-plataform input {
    margin-right: 7px;
}

.form-radios label {
    margin-bottom: 8px;
}

.boxings {
    align-items: center;
    display: block;
    margin-bottom: 30px;
}

.boxings input  {
    width: 23px;
    height: 23px;
}

.news-container {
    margin-left: 72px;
    margin-bottom: 30px;
}

.news-container input {
    width: 23px;
    height: 23px;
}

.bottons-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 38px 125px 50px 125px;
}

.botton-one {
    background-color: var(--color-light-pink);
    color: var(--color-white);
    cursor: pointer;
    width: 244px;
    height: 67px;
    border: 2px solid var(--color-light-pink);
    border-radius: 8px;
    margin-right: 26px;
}

.botton-two {
    background-color: var(--color-white);
    color: var(--color-light-pink);
    cursor: pointer;
    width: 244px;
    height: 67px;
    border: 2px solid var(--color-light-pink);
    border-radius: 8px;
    margin-left: 26px;
}

.container-footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.footer-term {
    display: flex;
    text-align: center;
}