/* ELEMENTS */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
}

:root {
    --color-green: #38AF90;
    --color-light-gray: #F0F0F0;
    --color-light-pink: #DD7E92;
    --color-gray: #797979;
    --color-dark-gray: #383838;
    --color-white: #FFFFFF;
}

a, a:hover {
    text-decoration: none;
    color: unset;
    list-style-type: none;
}

header {
    background-color: var(--color-green);
    color: var(--color-white);
    display: flex;
    align-items: center;
    height: 90px;
  }

nav {
    justify-content: space-between;
    display: flex;
    align-items: center;
  }
  
nav a {
    font-size: 14px;
    font-weight: 500px;
    margin-left: 30px;
  }
  
nav h1 {
    font-size: 24px;
    font-weight: 700;
  }

  hr {
      border: 1px solid var(--color-green);
  }

/* Class e IDs */


.area-nav {
    display: flex;
    align-items: center;
  }
  
.area-nav img {
    height: 62px;
    width: 62px;
    margin-left: 30px;
  }
  
.container-nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 990px;
    margin: 0 auto;
  }

.container-news {
    background-color: var(--color-white);
    color: var(--color-gray);
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.area-news {
      background-color: var(--color-light-gray);
      margin-bottom: 40px;
      border-radius: 8px;
      max-width: 990px;
      width: 100%;
      max-height: 247px;
      display: block;
      align-items: center;
      padding: 16px 40px 40px 40px;
  }

.container-news h1 {
      margin: 40px 0 40px 0;
      font-size: 36px;
  }

.area-news p {
      font-size: 10px;
  }

.area-news h2 {
    font-size: 24px;
    color: var(--color-green);
}

.area-news h4 {
    font-size: 16px;
}

.area-news a {
    color: var(--color-light-pink);
    font-size: 14px;
    font-weight: 700;
}

.date {
    color: var(--color-green);
    margin-bottom: 16px;
}